<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= cl_image_path("library_i1ryup",
width: 1000, height: 500, crop: :fill) %>')" >
<div class="banner-content">
  <h1>The book you need, at the price you want</h1>

    <p>Explore our best books</p>

  <!-- Old form (not working, must in case...)-->
<!--     <%= form_tag(books_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
    <%= submit_tag "Search", :name => nil %>
    <% end %>
    <% if @books.blank? %>
      <h4>There are no books containing the term <%= params[:search] %>.</h4>
    <% end %> -->

  <!-- New form -->
    <div class="navbar-wagon-right hidden-xs hidden-sm align-center" >
      <!-- Search form -->
      <form action="/books" method="get" class="navbar-wagon-search center-nav">
        <input type="text" name="search" class="navbar-wagon-search-input" placeholder="What book do you want?">
        <button type="submit" class="navbar-wagon-search-btn">
          <i class="fa fa-search"></i>
        </button>
      </form>
    </div>
</div>

</div>


<div class="card-wrapper">
  <div class="container">
    <div class="row">
      <% @books.each do |book|%>

      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <%= render "shared/card", book: book %>
      </div>

      <%end%>
    </div>
  </div>
</div>




