<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="text-center">
        <h2>Would you like to sell a book?</h2>
        <ul>
          <li class="list-unstyled">

            <%= simple_form_for @book do |f| %>
            <% f.error_notification %>
            <%= f.input :title %>
            <%= f.input :author %>
            <%= f.input :price %>
            <%= f.input :description %>
            <%= f.input :photo, as: :attachinary %>
            <%= f.button :submit %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<%= link_to 'Back', books_path %>
