  <div class="text-center"><h1><%= @book.title %></h1>

  <h2><%=@book.author%></h2>
  <p><%="price: $"%><%=@book.price%></p>
<br>
 <p><strong><%="Description: "%></strong><%=@book.description%></p>
 <br>

  <%= link_to "buy book", new_book_transaction_path(@book), class: "btn btn-primary"%>
  <br>

  <% if @book.photo? %>
  <%= cl_image_path @book.photo.path, width: 200, height: 300, crop: :fill %>
<% end %>

<% if @book.user %>
  <%="Reviews for: "%><%= link_to @book.user.email || @book.user.first_name, user_path(@book.user) %>
<% end %>


  <%= link_to "home", books_path %>
  </div>

<!-- books.sold -->
<!-- books.photo -->
