
<div class = "text-center">
<h1>Your transaction has been done seccesfully</h1>
<br>
<br>
<ul class = "list-unstyled">
<li> <%=@transaction.book.photo%></li>
<li><strong><%= "Price: "%></strong> <%= @transaction.book.price%></li>
<li><strong><%= "To user: "%></strong> <%= @transaction.user.email%></li>
<li><strong><%= "Book: "%></strong> <%= @transaction.book.title%></li>
</ul>

</div>
